useDynLib(biomvRCNS, .registration = TRUE)

import(IRanges,GenomicRanges, Gviz, mvtnorm)

export(
	biomvRhsmm, biomvRhsmmRun, sojournAnno,
	biomvRseg, regionSegCost, regionSegAlphaNB,
	biomvRmgmr, maxGapminRun,
	biomvRGviz, splitFarNeighbour, simmvRsegData
)

exportMethods(
    "plot",
    "show" 
)
exportClasses(
	"biomvRCNS"
)






