useDynLib(biomvRCNS, .registration = TRUE)

import(IRanges,GenomicRanges, Gviz, mvtnorm)
importFrom(dynamicTreeCut, cutreeDynamic)
importFrom(commonCondLogLikDerDelta, edgeR)

export(
	biomvRhsmm, biomvRseg, maxgapminrun,
	regionSegCost, regionSegAlphaNB,
	biomvRplot, bioMvRGviz,
	simuAnno, sojournAnno, simMvSegData, splitFarNeighbour
)

exportMethods(
    "plot",
    "show" 
)
exportClasses(
    "biomvRhsmm",
     "biomvRseg" 
)






